/*公共样式*/

.fl {
    float: left;
}

.fr {
    float: right;
}




/*版心*/

.w {
    width: 1226px;
    margin: 0 auto;
}

.topbar {
    height: 40px;
    background-color: #333;
    line-height: 40px;
}

.topbar-nav .sep {
    margin: 0 7.5px;
}

.topbar-cart {
    width: 120px;
    height: 40px;
    background-color: #424242;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
}

.topbar-cart a:hover {
    color: #ff6700;
}



.topbar-info .message {
    padding: 0 5px;
}

.topbar-info a {
    padding: 0 5px;
}


/* header 开始 */

.header {
    height: 100px;
    border-top: 1px solid transparent;
    position: relative;
}

.header-logo {
    margin-top: 22px;
    height: 55px;
    width: 62px;
    overflow: hidden;
}


.header-logo a {
    display: block;
    position: relative;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    text-align: left;
    text-indent: -9999em;
    font-size: 0px;

}

.header-logo a::before {
    /* 定位 */
    position: absolute;
    /* 伪元素必须要设置content属性 */
    content: '';
    /* 左偏移 */
    left: 0;
    /* 上偏移 */
    top: 0;
    width: 55px;
    height: 55px;
    /* 设置过渡 */
    transition: all .5s;
    /* 背景图片 */
    background: url(../img/mi-logo.png) no-repeat center center;
    /* 透明度 */
}

/* mi home 的样式 */

.header-logo a::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
    transition: all .5s;
    background: url(../img/mi-home.png) no-repeat center center;
    margin-left: -55px;
}

/* 鼠标移入 让mi logo 往右侧进行滑动 */

.header-logo a:hover::before {
    margin-left: 55px;
}

/* 鼠标移入 让mi home 回到盒子中间 */

.header-logo a:hover::after {
    margin-left: 0;
}

.header-nav {
    position: relative;
    width: 820px;
    height: 76px;
    padding: 12px 0 0 30px;
    font-size: 16px;
}



.header-nav li {
    float: left;
    padding: 26px 10px 38px;
}

.header-nav li a {
    color: #333;
    display: block;
}

.header-nav li a:hover {
    color: #ff6700;
}

.nav-category {
    position: relative;
}

.site-category {
    position: absolute;
    display: block;
    top: 88px;
    left: -92px;
    width: 234px;
    height: 460px;
    padding: 20px 0;
    background-color: rgba(105, 105, 101, .6);
    z-index: 99;
}



.nav-category .text {
    visibility: hidden;
}

/* side-nav */
.category-item {
    position: relative;
    height: 42px;
    width: 234px;
    line-height: 42px;
    padding: 0 0px !important;

}

.category-list .category-item .title {
    display: block;
    font-size: 14px;
    padding-left: 30px;
    color: #e0e0e0;
}

.title .icon-arrow-right {
    font-size: 12px;
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
}

.category-list .category-item:hover {
    background-color: #ff6700;
}

.header-search {
    width: 296px;
    height: 50px;
    margin-top: 25px;
    position: relative;
}

.search-text {
    position: absolute;
    right: 51px;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

.search-btn {
    position: absolute;
    right: 0px;
    width: 52px;
    height: 48px;
    line-height: 46px;
    padding: 1px 6px;
    border: 1px solid #ccc;
    font-size: 24px;
    background-color: #fff;
    cursor: pointer;
    content: "\e63c";
}

.search-btn:hover {
    background-color: #ff6700;
    color: #fff;
}



.search-hot-words {
    position: absolute;
    top: 14px;
    right: 62px;
}

.search-hot-words a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    color: #757575;
    background-color: #eee;
    font-size: 12px;
    transition: all .2s;
}

.search-hot-words a:hover {
    color: #fff;
    background-color: #ff6700;
}

.site-header {
    height: 100px;
    border-bottom: 1px solid #ccc;
}

.home-hero-container {
    height: 670px;
}

.home-hero {
    height: 644px;
    background-color: #fff;
}

.home-hero-swiper {
    height: 460px;
    background-color: #fff;
    position: relative;
}

.home-hero-sub {
    height: 170px;
    margin-top: 14px;
}

.arrow {
    position: absolute;
    width: 41px;
    height: 70px;
    top: 50%;
    margin-top: -35px;
    cursor: pointer;
}

.prev {
    left: 234px;
    background: url(../img/icon-slides.png) no-repeat -84px center;
}

.next {
    right: 0px;
    background: url(../img/icon-slides.png) no-repeat -125px center;
}

.prev:hover {
    background: url(../img/icon-slides.png) no-repeat 0px center;
}

.next:hover {
    background: url(../img/icon-slides.png) no-repeat -42px center;
}

.swiper-circle {
    position: absolute;
    width: 400px;
    height: 21px;
    line-height: 21px;
    bottom: 20px;
    right: 30px;
}

.swiper-circle a {
    display: block;
    float: right;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, .6);
}

.swiper-circle .current {
    background-color: #fff;
}

.swiper-circle a:hover {
    background-color: #fff;
}

.span4 ul {
    width: 228px;
    height: 164px;
    padding: 3px;
    background-color: rgb(95, 87, 80);
}

.span4 li {
    width: 70px;
    height: 82px;
    float: left;
    padding: 0 3px;
    position: relative;

}

.span4 li a {
    width: 70px;
    height: 46px;
    padding-top: 18px;
    text-align: center;
}

.span4 li a img {
    width: 24px;
    height: 24px;
    margin: 0 23px 4px;

}

.span16 {
    width: 978px;
    height: 170px;
    margin-left: 14px;
}

.span16 li {
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 15px;
}

.span4 li:before {
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57;
}

.span4 li:after {
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    position: absolute;
    content: "";
    background: #665e57;
}

.span16 li img {
    display: block;
    width: 100%;
}

.span16 .first {
    margin-left: 0px;
}

.page-main {
    width: 100%;
    background-color: #f5f5f5;
}

.box-hd {
    height: 58px;
    line-height: 58px;
}

.box-bd {
    height: 340px;
}

.box-l {
    width: 234px;
    height: 339px;
    padding: 39px 0 0 0;
    background-color: #f1eded;
    border-top: 1px solid #e53935;
    float: left;
}

.round {
    padding: 15px 0 0 0;
    height: 34px;
    text-align: center;
    font-size: 21px;
    color: #e53935;
}

.box-l img {
    display: block;
    margin: 25px auto;
}

.desc {
    color: rgba(0, 0, 0, .8);
    font-size: 15px;
    text-align: center;
}

.countdown {
    width: 168px;
    height: 46px;
    background-color: #fff;
    margin: 28px 33px 0;
    text-align: center;
}

.countdown span {
    width: 46px;
    height: 46px;
    background-color: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}

.countdown i {
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
    font-style: normal;
}

.box-r {
    width: 978px;
    height: 340px;
    float: left;
    margin-left: 14px;
}

.box-r li {
    width: 234px;
    height: 339px;
    text-align: center;
    background-color: #fff;
    position: relative;
    float: left;
    margin-right: 14px;
}

.box-r li:nth-child(4n) {
    margin-right: 0;
}

.box-r li a {
    width: 234px;
    height: 300px;
    padding-top: 39px;
}

.box-r li img {
    width: 160px;
}

.thumb {
    margin: 0 37px 22px;
}

.content .title {
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #212121;
    overflow: hidden;
    white-space: nowrap;
}

.content .desc {
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    color: #b0b0b0;
    overflow: hidden;
    white-space: nowrap;
}

.content .price {
    color: #ff6700;
}

.price del {
    color: #666;
}

.flag {
    position: absolute;
    top: 0;
    left: 50%;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #e53935;
    z-index: 2;
}

.home-banner-box {
    margin: 24px 0;
}

.floor-phone .box-hd,
.floor-style .box-hd {
    position: relative;
    height: 58px;
    line-height: 58px;
}

.floor-phone .box-bd {
    height: 628px;
}

.floor-phone .box-hd .title,
.floor-style .box-hd .title {
    font-size: 22px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.more {
    position: absolute;
    width: 92px;
    height: 58px;
    right: 0;
    top: 0;
}

.brick li {
    position: relative;
    top: 0px;
    transition: all .3s ease;
}

.brick-list {
    width: 992px;
}

.brick-list li {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    padding: 20px 0;
    width: 234px;
    height: 300px;
    margin: 0 0 14px 14px;
    background-color: #fff;
    text-align: center;
    transition: all .3s ease;
}

.float .box-bd li:hover {
    top: -5px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .3);

}

.brick-list .figure {
    margin: 0 37px 18px;
}

.brick-list .figure img {
    width: 160px;
}

.brick-list .title {
    color: #333;
    font-size: 14px;
    margin: 0 10px 2px;
}

.brick-list .desc {
    margin: 0 10px 10px;
    font-size: 12px;
    color: #b0b0b0;
}

.brick-list .price {
    margin: 0 10px 14px;
    color: #ff6700;
}

.floor-style .banner1 {
    margin-bottom: 15px;
}

.brick-items li {
    position: relative;
    text-align: left;
    padding-top: 50px;
    width: 234px;
    height: 143px;
    margin-bottom: 14px;
}

.brick-items li a {
    z-index: 1;
    float: left;
    width: 234px;
    background: #fff;

}

.brick-items img {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;
    height: 80px;
}

.brick-items .title {
    font-size: 14px;
    margin: -10px 110px 5px 30px;
}

.brick-items .price {
    margin: 0 110px 0 30px;
}

.brick-items .more {
    margin: 30px 60px 0 30px;
    width: 100px;
}

.brick-items .more .text {
    font-size: 20px;
    color: #000;
    display: block;
}

.brick-items .more .small {
    color: #757575;
    width: 94px;
    height: 18px;
}

.brick-items .icon-arrowrightbig {
    font-size: 50px;
    color: #ff6700;
    position: absolute;
    right: 20px;
    top: 32px;

}

.floor-style .more {
    padding-top: 15px;
    width: 156px;
    height: 26px;
    float: right;
}

.floor-style .tab-list li {
    float: left;
    border-bottom: 2px solid #ff6700;
    margin-left: 30px;
    color: #ff6700;
    height: 24px;
    line-height: 24px;
}

.video-box .video-item {
    float: left;
    margin-left: 14px;
    width: 296px;
    height: 285px;
    margin-bottom: 14PX;
    text-align: center;
    background-color: #fff;
    position: relative;
    top: 0;
    transition: all .3s;
}

.video-item:hover {
    top: -5px;
}

.video-item::after {
    content: "\25B6";
    position: absolute;
    width: 32px;
    height: 20px;
    left: 20px;
    top: 126px;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: #fff;
    transition: all .3s;
}

.video-item:hover::after {
    color: #fff;
    border: 2px solid #ff6700;
    background: #ff6700;
}

.video-item:first-child {
    margin-left: 0px;
}

.figure-img {
    position: relative;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}

.video-item .title {
    font-weight: 400;
    color: #000;
}

.footer-site{
    height: 272px;
    width: 100%;
    background-color: #fff;
}
.footer-service{
    padding: 27px 0;
    height: 80px;
    border-bottom:1px solid #ccc ;
}
.footer-service li{
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.footer-service li:first-child{
    border: none;
}
.footer-links{
    padding: 40px 0;
    height: 272px;
    background-color: skyblue;
}
.footer-info{
    height: 250px;
    padding: 30px 0;
    background-color: purple;

}
