.main{
  width: 980px;
  height: 455px;
  margin-left: 219px;
  margin-top: 10px;
}
/* 焦点区 */
.focus{
  position: relative;
  width: 721px;
}
.arrow{
  position: absolute;
  width: 30px;
  height: 40px;
  background-color: rgba(0, 0, 0, .8);
  margin-top: -20px;
  top: 50%;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
}
.arrow:hover{
  background-color: rgba(0,0,0,.4);
}
.focus .icon-icon-test1,
.focus .icon-icon-test3{
  font-size: 30px;
  color: #fff;
}
.focus .prev{
  left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.focus .next{
  right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.focus .circle{
  position: absolute;
  bottom: 10px;
  left: 80px;
  width: 150px;
  height: 26px;
  padding: 0 8px;
}
.focus .circle li a{
  float: left;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .5);
  margin: 5px;
}
.focus .circle li a:hover{
  border: 2px solid rgba(204,204,204,.4);
  background-color: #fff;
}
/* 新闻区 */
.news-flash{
  width: 250px;
  height: 455px;
}
.news{
  height: 165px;
  border: 1px solid #e4e4e4;
}
.news-hd{
  height: 34px;
  line-height: 34px;
  border-bottom: 1px dotted #e8e8e7;
  padding:0 15px;
  font-size: 14px;
}
.news-bd li{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 26px;
  line-height: 26px;
  padding-left: 15px;
}
.life-service{
height: 209px;

border: 1px solid #e4e4e4;
border-top: 0;
overflow: hidden;

}
.life-service ul{
  width: 252px;
}
.life-service li{
  width: 25%;
  height: 70px;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-top: none;
  float: left;
  text-align: center;
}

.service-sprite{
  display: block;
  width: 24px;
  height: 24px;
  margin: 10px 19px;
  background: url(../img/icons.png) no-repeat -15px -15px;
}
.bargain{
  margin-top: 6px;
  height: 75px;
  background-color: #666;
}

.recommend{
  height: 163px;
  margin-top: 12px;
}
.rec-hd{
  width: 204px;
  height: 163px;
  text-align: center;
  padding: 30px 0 0 0;
  background-color: #5c5251;
}
.rec-hd h3{
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  color: #fff;
}
.rec-bd{
  background-color: #ebebeb;
}
.rec-bd li{
  float: left;
  width: 249px;
  margin: 10px 0;
  border-right: 1px solid #ccc;
}
.rec-bd li:nth-of-type(4){
  border-right: none;
}
